/* * {
    border: 1px solid black;
    box-sizing: border-box;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.left-aside *,
.right-aside * {
    width: 100%;
}

.servo-img-logo {
    height: 35px;
    width: 35px;
}

.servo-item {
    display: flex;
    justify-content: space-between;
}

.servo-stats {
    display: flex;
    flex-direction: column;
}

.servo-brand {
    display: flex;
}

.servo-brand span {
    display: flex;
    justify-content: flex-end;
}

.title {
    font-family: "Montserrat Subrayada", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 200%;
    background-color: #32cd32;
}
#spotlight-header{
    display: inline-flex;
    justify-content: space-between;
    background-color: lightgrey;
    align-items: center;
    padding: 7px;
   
}
#spotlight-header a{
    display: flex;
    justify-content: flex-end;
    padding-right: 15px;
}
.section-headers{
    background-color: lightgrey;
}
.stats-lines{
    display: inline-flex;
    justify-content: space-between flex-end;
    border: lightgreen solid 0.5px;
}

.hidden {
    display: none;
}


