<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Subrayada:wght@400;700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="title">
        <h1>Find Your Station</h1>
    </div>
    <div class="wrapper">
        <aside class="left-aside">
            <div class="star"></div>
            <div class="spotlight">
                <div id="spotlight-header">
                    <h2 class="section-headers">Spotlight</h2>
                    <a onclick="showSpotlight()">Refresh</a>
                </div>

            </div>
            <div class="servo-stats">
                <h2 class="section-headers">Stats</h2>

            </div>
            <div class="postcode-box">
                <h2 class="section-headers">Postcode</h2>
                <form>
                    <input type="text" id="postcodeSearch">
                    <button class="btn" onclick="submitPostcodeSearch(event)">Search</button>
                </form>
                <div id="postcodeResults">

                </div>
            </div>
            <div class="about-info">
                <h3 class="section-headers">G`day Devs</h3>
                <div class="character-container">
                    <div class="character-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTL8zdS5zWu7hF0ti7LPwIRL3XCkh5b2iE1mg&s" alt="daisy">
                        <p>Brittany</p>
                    </div>
                    <div class="character-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYBZaWEqu-oor58bh-H6Fw-3Bo5aTR9GklVQ&s" alt="toad">
                        <p>Jin</p>
                    </div>
                    <div class="character-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSgzU_9-PB4nEf1uzz4ckj-xEVNYgI7JZBVXw&s" alt="bowser">
                        <p>Nicolas</p>
                    </div>
                    <div class="character-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTttfboR8zlgpxw8O_jhaaml0QifVk5zeQjlA&s" alt="Luigi">
                        <p>Oliver</p>
                    </div>
                    <div class="character-item">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5bahzwnF2SZ3Aa9v6tQj5oWAWsCceMsndFg&s" alt="Yoshi">
                        <p>Allison</p>
                    </div>
                </div>

            </div>
        </aside>

        <div class="map" id="map">

        </div>


        <aside class="right-aside">

            <div class="clock-temperature-wrapper section-headers">
                <div class="temperature-div hidden" id="temperature"></div>
                <div class="clock-div" id="clock"></div>
            </div>

            <div class="lat-long section-headers" id="center-coords">
                <h1>Map Center Location</h1>
                <form>
                    <label id="center-latitude"></label>
                    <label id="center-longitude"></label>
                    <button class="btn" onclick="lookupAddress(event)">Lookup Address</button>
                </form>

            </div>
            <div class="center-address" id="center-address"></div>
            <button class="meter-toggle-btn">KM / M</button>
            <div class="servo-list"></div>
        </aside>
    </div>

    <script>
        (g => { var h, a, k, p = "The Google Maps JavaScript API", c = "google", l = "importLibrary", q = "__ib__", m = document, b = window; b = b[c] || (b[c] = {}); var d = b.maps || (b.maps = {}), r = new Set, e = new URLSearchParams, u = () => h || (h = new Promise(async (f, n) => { await (a = m.createElement("script")); e.set("libraries", [...r] + ""); for (k in g) e.set(k.replace(/[A-Z]/g, t => "_" + t[0].toLowerCase()), g[k]); e.set("callback", c + ".maps." + q); a.src = `https://maps.${c}apis.com/maps/api/js?` + e; d[q] = f; a.onerror = () => h = n(Error(p + " could not load.")); a.nonce = m.querySelector("script[nonce]")?.nonce || ""; m.head.append(a) })); d[l] ? console.warn(p + " only loads once. Ignoring:", g) : d[l] = (f, ...n) => r.add(f) && u().then(() => d[l](f, ...n)) })({
            key: "<%= process.env.GOOGLE_MAPS_API %>",
            v: "weekly",
            // Use the 'v' parameter to indicate the version to use (weekly, beta, alpha, etc.).
            // Add other bootstrap parameters as needed, using camel case.
        });
    </script>

    <script src="./client.js"></script>
</body>

</html>